<a href="#doc/Device" class="btn pull-right" style="font-size: 13px;"><i class="icon-bookmark"></i>&nbsp;API</a>

<div class="page-header">
    <h1>device</h1>
</div>

<table class="table table-bordered table-striped">
    <tr><td>device.name</td><td><%= device.name %></td></tr>
    <tr><td>device.cordova</td><td><%= device.cordova %></td></tr>
    <tr><td>device.platform</td><td><%= device.platform %></td></tr>
    <tr><td>device.uuid</td><td><%= device.uuid %></td></tr>
    <tr><td>device.version</td><td><%= device.version %></td></tr>
</table>
